<div class="home__container">
	<app-card
	gameCover="assets/bt-1.jpg"
	gameLable="DIGITAL"
	gameType="DIGITAL | PS4"
	gamePrice="R$ 199.98"
	></app-card>

	<app-card
	gameCover="assets/bt-4.jpg"
	gameLable="EXCLUSIVE"
	gameType="DIGITAL | PS5"
	gamePrice="R$ 268,99"

	></app-card>

	<app-card
	gameCover="assets/bt-bad-company-2.jpg"
	gameLable="DIGITAL"
	gameType="DIGITAL | PS4"
	gamePrice="R$ 328,99"
	></app-card>

	<app-card
	gameCover="assets/bt-hardline.jpg"
	gameLable="NEW"
	gameType="DIGITAL | PS3 PS4 PS4"
	gamePrice="R$ 369,99"
	></app-card>

	<app-card
	gameCover="assets/ac-cover.jpg"
	gameLable="BEST OF YEAR"
	gameType="DIGITAL | PS5"
	gamePrice="R$ 299,99"
	></app-card>

</div>
<!--poderia ter uma propriedade gameLink para acessar um trailer-->
